*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: block;
}
