:root {
  /* color */
  --primary-color: #e8fec5;
  --secondary-color: #c0fa73;
  --third-color: #57a203;
  --fourth-color: #d74f4f;
  --fifth-color: #dee2e6;
  --sixth-color: #adb5bd;
  --nineth-color: #6c757d;
  --tenth-color: #212529;

  /* font-size */
  /* 
  --font-size-base: 16px;
  --spacing: 1rem; */
}
